.carte__logo{
    .carte__like{
        font-size: 2rem;
        position: absolute;
        opacity: 1;
    }
    
    .carte__like--color{
        font-size: 2rem;
        background: -webkit-linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    } 
    &:hover{
        .carte__like{
            opacity: 0;
        }
        .carte__like--color{
            opacity: 1;
        }
    }
}